body{
    font-family: Roboto, sans-serif;
    background-color: #1F2123;
    color: white;
    padding: 70px 0;
}

.wrapper-container{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.card-body input, .card-header input{
    background-color: #343A40;
    border: none;
    color: #fff;
    min-width: 500px;
}

.card-body input, .card-header input:focus{
    outline: none;
}

.card-body hr{
    margin-top: 0;
    width: 500px;
    height: 0,5px;
    background-color: #fff;
}

.card-body textarea{
    width: 90%;
    height: 500px;
    background-color: #343A40;
    color: #fff;
}

.card-body textarea:focus{
    background-color: #343A40;
    color: #fff;
    outline: none;
}

.card-body a{
    margin: 20px 0;
}